@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*, *::after, *::before {
    margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}