@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*,*::after, *::before {
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

input, button {
    font: inherit;
}

.w-75{
    width: 85%;
}

.w-95 {
    width: 98% !important;
}

.main-container{
    border: 2px solid red;
}

.mt-7{
    margin-block: 7rem;
}

.text-danger {
    font-size: 12px;
    padding-top: 4px;
}


.modal-body::-webkit-scrollbar { width: 0 !important }
/* <i class="fa-solid fa-pen-to-square fa-lg"></i>
<i class="fa-solid fa-trash-can fa-lg"></i>
<i class="fa-solid fa-plus fa-lg"></i>
<i class="fa-solid fa-minus fa-lg"></i> */